{{template "header" }}

<style>
    .loginInputGroup{
        margin-top: 20px;
    }
</style>

<body>
    <div class="coreContainer">
        <h1 id="loginLabel"></h1>
        <div class="loginInputGroup">
            <div class="form-group">
                <label id="emailLabel"></label>
                <input type="email" class="form-control" id="userLoginEmail" placeholder="tom@hanks.com">
                <small class="form-text text-muted" id="noSharingLabel"></small>
            </div>
            <div class="form-group">
                <label id="passwordLabel"></label>
                <input type="password" class="form-control" id="userLoginPassword" placeholder="******">
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton"></button>
        </div>
    </div>
</body>

